.cartInfo{
    right: 7px;
    position: fixed;
    background: #ffffff12;
    padding: 15px;
    z-index: 1;
    border-radius: 10px;
    top: 7px;
    text-align: center;
}

.cartInfo .icon, .cartInfo .number {
    padding-right: 5px;
}

.cartInfo .close {
    cursor: pointer;
    position: absolute;
    top: 0;
}

.cartInfo .separator {
    margin: 5px 0;
    width: 100%;
    height: 2px;
    background: black;
}